/*  your css code here. If applicable */
.center{
	text-align: center;
}
.right{
	text-align:right;
}
.blue{
	background-color:blue;
}
.green{
	background-color:green;
}
#t-image{
	align-items:center;
}
