/*  your css code here. If applicable */
.center{
	text-align: center;
}
.right{
	text-align:right;
}
.blue{
	background-color:blue;
}
.green{
	background-color:green;
}
#t-image{
	align-items:center;
}
#table-1,#table-2,#table-3{
	border:1px solid rgb(0,0,0);
	border-spacing:1px;
	padding:1px
}
