/*  your css code here. If applicable */
.center{
	text-align: center;
}
.right{
	text-align:right;
}
.blue{
	background-color:blue;
}
.green{
	background-color:green;
}
#t-image{
	align-items:center;
}

#table-1, #table-2, #table-3 {
  border: 1px solid black;
  border-collapse: collapse;
}

 #table-1 td,
 #table-2 td,
 #table-3 td {
  border: 1px solid black;
  padding: 1px;
}
